<div class="wrapper-form">
	<mat-progress-bar
		*ngIf="!sended"
		color="accent"
		value="100"
		[mode]="isLoading ? 'indeterminate' : 'determinate'"
	>
	</mat-progress-bar>

	<form *ngIf="!sended" [formGroup]="form">
		<h1 class="mat-headline">Recuperar senha</h1>

		<mat-form-field class="width-form-field" appearance="outline">
			<mat-label>Email</mat-label>
			<input matInput placeholder="Email" formControlName="email" />
			<mat-error>
				{{ getErrorMessage("email") }}
			</mat-error>
		</mat-form-field>

		<button
			class="width-form-field"
			mat-raised-button
			color="primary"
			(click)="submitForm()"
		>
			Entrar
		</button>
	</form>

	<div *ngIf="sended" id="wrapper-sended-content">
		<img src="/assets/mail_sent.svg" alt="mailbox" />
		<strong>Enviamos um email para redefinir a senha</strong>
	</div>
</div>
