.game-container {
    width: 100%;
    height: calc(100vh - 64px);
}

.game-sidenav{
  min-width: 350px;
}

.game-sidenav-content {
    height: 100%;
}

.open-story{
    z-index: 50;
    position: fixed;
    right: 8%;
    bottom: 8%;
    font-size: 1.5vw;
    padding: 1% 2%;
}

.wrapper-header{
  display: flex;
  justify-content: space-between;
  margin: 50px;
  margin-bottom: 0px;
}

.card-players {
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}
