.example-container {
    width: 100%;
    height: calc(100vh - 64px) /* go horse*/
}

.example-sidenav{
  min-width: 100px;
}

.example-sidenav-content {
    height: 100%;
    margin: 50px;
}

.open-story{
    position: fixed;
    right: 8%;
    bottom: 8%;
    font-size: 1.5vw;
    padding: 1% 2%;
}
