<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="over">
		<story-list
			[isOwner]="poker.createdBy === userId"
			[storyList]="storyList | async"
			idPoker="{{ poker.id }}"
		></story-list>
	</mat-sidenav>

	<mat-sidenav-content class="example-sidenav-content">
		<h2 class="ppa-title">{{ poker.name }}</h2>

		<app-user-from-poker-table
			[players]="poker.players"
		></app-user-from-poker-table>

		<router-outlet></router-outlet>

		<button
			class="open-story"
			mat-raised-button
			color="accent"
			(click)="sidenav.toggle()"
		>
			<mat-icon inline="true">menu_open</mat-icon>Ver Stories
		</button>
	</mat-sidenav-content>
</mat-sidenav-container>
