header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.input-field {
  width: 400px;
  margin-bottom: 30px;
}

.button-submit {
  width: 100%;
}

.wrapper-form{
  margin-top: 50px;
  width: 500px;
}

.showSpinner{
  margin-top: 50px;
  width: 500px;
  height: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}