<header>
	<h1 class="ppa-title" mat-dialog-title>New Poker</h1>
	<button mat-icon-button mat-dialog-close cdkFocusInitial>
		<mat-icon>close</mat-icon>
	</button>
</header>

<mat-dialog-content class="mat-typography">
	<div class="showSpinner">
		<mat-progress-bar
		color="accent"
		value="100"
		[mode]="isLoading ? 'indeterminate' : 'determinate'"
		>
		</mat-progress-bar>
	</div>
	<div class="wrapper-form">
		<form [formGroup]="formCreatePoker">
			<mat-form-field class="input-field" appearance="outline">
				<mat-label>Nome</mat-label>
				<input matInput placeholder="Nome" formControlName="pokerName" />
				<mat-error>
					{{ getErrorMessage("pokerName") }}
				</mat-error>
			</mat-form-field>
			<mat-form-field class="input-field" appearance="outline">
				<mat-label>Deck</mat-label>
				<input matInput value="0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ?" disabled />
			</mat-form-field>
			<button
				class="button-submit"
				mat-raised-button
				color="primary"
				(click)="createPoker()"
				[disabled]= "isLoading"
			>
				Criar
			</button>
		</form>
	</div>
</mat-dialog-content>
