
.players span p{
  /*margin-left: 5px;*/
  margin: 0px;
  padding: 0px;
}

.players .details {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  align-items: center;
}

.players .username{
  display: flex;
  flex-direction: row;
  width: 30%;
}

.players .email{
  display: flex;
  flex-direction: row;
}

.players span{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: large;
  margin-bottom: 15px;
}