.list{
    padding: 0;
}

.list .mat-list-item {
    height: auto;
}

.storyButton{
    display: flex;
    flex-direction: row;
}

.storyButton[aria-selected="true"] ::after{
    content: "";
    width: 10px;
    height: 100%;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #E91E63;
}

#addStory{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

#addStory button{
    transform: scale(1.5);
}

.example-container {
    width: 100%;
    height: calc(100vh - 64px) /* go horse*/
}

.example-sidenav-content {
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.open-story{
    position: fixed;
    right: 8%;
    bottom: 8%;
    font-size: 1.5vw;
    padding: 1% 2%;
}