<div class="container" (click)="onClickStory()">
    <div class="contentStory">
        <div class="title">
            {{title}}
        </div>
        <div class="details">
            {{details}}
        </div>
    </div>
   <!--

    <div class="actions">
        <button 
        (click)="onClickDelete()"
        mat-icon-button
        mat-raised-button
        color="accent"
        class="button-delete"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    -->
</div>
<mat-divider></mat-divider>

