<div class="wrapper-form">
  <form [formGroup]="form">
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <h1 class="mat-headline" style="color: #0e53a7">Sign Up</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field style="width: 80%">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" formControlName="username" />
          <mat-error>
            {{getErrorMessage("username")}}
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field style="width: 80%">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error>
            {{getErrorMessage("email")}}
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field style="width: 80%">
          <mat-label>Senha</mat-label>
          <input
            matInput
            placeholder="Senha"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error>
            {{getErrorMessage("password")}}
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button
          class="button-submit"
          mat-raised-button
          color="primary"
          (click)="submitForm()"
        >
          Entrar
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
