header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

h1, p, span {
    margin: 0;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.input-field, .button-submit {
    width: 400px;
    margin-bottom: 30px;
}

.wrapper-form{
    margin-top: 50px;
    width: 500px;
}

.showSpinner{
    margin-top: 20px;
}