header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.input-field {
    width: 400px;
    margin-bottom: 30px;
}

.button-submit {
    width: 50%;
}