<div class="content">
	<mat-card>
		<mat-card-subtitle>História</mat-card-subtitle>
		<mat-card-title>{{ story.name }}</mat-card-title>
		<mat-card-content>
			<p>{{ story.description }}</p>
		</mat-card-content>
	</mat-card>

	<mat-tab-group mat-align-tabs="start" [selectedIndex]="allRounds?.length">
		<div class="getRound" *ngFor="let round of allRounds">
			<mat-tab label="Round {{ round.roundNumber }}">
				<app-vote [round]="round" (updateAllRounds)="updateAllRounds()"></app-vote>
			</mat-tab>
		</div>
	</mat-tab-group>
</div>
