.content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: stretch;
  min-width: 500px;
}

h1{
  color: #160041;
  font-weight: bolder;
}

p{
  color: #BDBDD7;
  margin-bottom: 50px;
  display: block;
  max-height: 80px;
  min-height: 80px;
}

main{
  flex: 3;
  width: 100%;
  padding: 50px;
  min-width: 500px;
  max-height: 100vh;
}

aside{
  background-color:#160041;
  background: linear-gradient(to right, #160041 , #ec3bb6);
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

img{
  width: 80%;
}
