<div class="content">   
  <main>
    <div class="container">
      <h1>Planning Poker</h1>
      <p>{{messageDisplay}}</p>
      <mat-tab-group (selectedIndexChange)="changeOption($event)" mat-align-tabs="start">
        <mat-tab label="Log In">
          <ng-template mat-tab-label>
            <strong>Log In</strong>
          </ng-template>
            <app-login-form></app-login-form>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <strong>Sign Up</strong>
          </ng-template>
          <app-signUp></app-signUp>
        </mat-tab>
      </mat-tab-group>
    </div>
  </main>
  <aside>
    <img id="img-hello" src="/assets/ScrumBoard.svg" alt="image" />
  </aside>
</div>


