@use '~@angular/material' as mat;
@import "~angular-notifier/styles";

@include mat.core();


$myApp-primary: mat.define-palette(mat.$indigo-palette, 900);
$myApp-accent: mat.define-palette(mat.$pink-palette);


$myApp-theme: mat.define-light-theme((
  color: (
    primary: $myApp-primary,
    accent: $myApp-accent
  )
));

@include mat.all-component-themes($myApp-theme);

@font-face {
  font-family: 'Poker In October';
  font-weight: bold;
  src: url("/assets/PokerInOctober-Demo.otf") format("opentype");
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.font-poker{
  font-family: 'Poker In October', Roboto, sans-serif;
}
