<mat-progress-bar
	color="accent"
	value="100"
	[mode]="isLoading ? 'indeterminate' : 'determinate'"
>
</mat-progress-bar>

<form [formGroup]="form">
	<h1 class="mat-headline">Redefinir senha</h1>

	<mat-form-field class="width-form-field" appearance="outline">
		<mat-label>Nova senha</mat-label>
		<input
			matInput
			placeholder="Nova senha"
			formControlName="newPassword"
			[type]="hide ? 'password' : 'text'"
		/>
		<mat-icon style="cursor: pointer" matSuffix (click)="hide = !hide">{{
			hide ? "visibility_off" : "visibility"
		}}</mat-icon>
		<mat-error>
			{{ getErrorMessage("newPassword") }}
		</mat-error>
	</mat-form-field>

	<button
		class="width-form-field"
		mat-raised-button
		color="primary"
		(click)="submitForm()"
	>
		Entrar
	</button>
</form>
