<div class="wrapper-form">
  <form [formGroup]="form">
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field class="input-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="form.get('email')?.getError('email')">
              Email inválido
          </mat-error>
          <mat-error *ngIf="form.controls.email.errors?.required">
              Email é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="input-field">
          <mat-label>Senha</mat-label>
          <input
            matInput
            placeholder="Senha"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="form.controls.password.errors?.required">
            Senha é <strong>obrigatória</strong>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button
          class="button-submit"
          mat-raised-button
          color="primary"
          (click)="submitForm()"
        >
          Entrar
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
