<div class="wrapper-form">
  <form [formGroup]="form">
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <h1 class="mat-headline" color="primary">Log in</h1>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="width-form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email@email.com" formControlName="email" />
          <mat-error>
            {{getErrorMessage("email")}}
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="width-form-field" appearance="outline">
          <mat-label>Senha</mat-label>
          <input
            matInput
            placeholder="Senha"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error>
            {{getErrorMessage("password")}}
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button
          class="width-form-field"
          mat-raised-button
          color="primary"
          (click)="submitForm()"
        >
          Entrar
        </button>
        
      </mat-grid-tile>

    </mat-grid-list>

  </form>

  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <p>
        Não possui conta?
        <button 
          mat-button
          color="primary"
          routerLink="/poker/signUp">
            Cadastre-se
        </button>
      </p>
    </mat-grid-tile>
  </mat-grid-list>

</div>
