.content{
  width: 100%;
  height: 800px;
}

.container{
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.width-form-button{
  width: 25%;
  height: 65px;
  font-size: x-large;
}

.deck{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input{
  display: none;
}

.cardPoker{
  width: 100px;
  height: 155px;
  background-color: #fafafa;
  color: #fafafa;
  margin-left: -5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #1A237E;
}

.number{
  width: 100%;
  height: 100%;
  background-color: #1A237E;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label{
  padding: 10px;
  height: 100%;
  width: 100%;
  margin: 0;
  font-weight: bolder;
  font-size: 3.5em;
}

.cardPoker:hover{
  transform: scale(1.15);
}

input:disabled + .cardPoker{
  transform: none;
}

input:checked + .cardPoker{
  transform:  translateY(-25px)
              scale(1.25);
  background-color: #E91E63;
  color: #E91E63;
}

input:checked + .cardPoker .number{
  background-color: #fafafa;
}

textarea{
  padding: 15px;
  resize: none;
  width: 600px;
  height: 200px;
  border: 1px solid #1A237E;
  border-radius: 10px;
  outline: none;
}

textarea:focus{
  border: 1px solid #E91E63;
}


.result,.maxMin{
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.min,.max{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

.max{
  
  justify-content: flex-start;
}

.min{
  
  justify-content: flex-end;
}

.titleOfRound{
  font-size: x-large;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.voteUserArea{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.newRoundButton{
  width: 350px;
  font-size: x-large;
  height: 60px;
}